body {
    margin: 0;
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: black;
    color: white;
    height: 30px;
    z-index: 100;
}

.the-home {
    margin-top: 100px;
}

.add-user-form {
    margin-top: 100px;
}

.pro_image {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}